<template>
    <div>
        <div class="modal  fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
             aria-modal="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"> Add new user</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form  autocomplete="off">
                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
                                <div class="col-md-6">
                                    <input id="name" type="text" class="form-control" name="name" v-model="user.name"
                                           required="" autofocus="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" name="email"
                                           v-model="user.email" required="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="select_country"
                                       class="col-md-4 col-form-label text-md-right">Country</label>
                                <div class="col-md-6">
                                    <select name="country_id" id="select_country" class="form-control"
                                            v-model="user.country_id">
                                        <option :value="country.id" v-for="country in countries" >{{country.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                   <!--         {{user.email}}
                            {{user.name}}
                            {{user.country_id}}-->
                            <div class="form-group row mb-0">
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary d-none" id="trigger_click"  ref="form">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="createUser()" data-dismiss="modal">Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            countries :{
                required:true
            }
        },
            data() {
                return {
                    user: {
                        country_id:1,
                        name:'',
                        email:'',
                        password:'password',
                        country:{
                            name:'Afghanistan'
                        },
                    }
                }
            }   ,
        methods: {
            createUser() {
                axios.post('/api/admin/users',this.user).then(response => {
                    Event.$emit('created',response.data.user);
                    Event.$emit('success',response.data.message);
                }).catch(response => {
                    let errors = response.response.data.errors;
                    let getFirst =  Object.values(errors)[0][0];
                    Event.$emit('error',getFirst);
                })
            }

        },

    }
</script>


<style scoped>
</style>
