<template>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">You want to delete this item?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Delete this item? </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>

                    <a href="" class="closs-this btn btn-info" data-method="delete" data-dismis="modal" data-get="33" @click.prevent="deleteUser()">Delete</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
          id: {
            required:true,
            number:true
          }
        },
       methods: {
            deleteUser() {
                    axios.delete('api/admin/users/'+this.id).then((response)=> {
                        let  message = response.data.success;
                        Event.$emit('delete',this.id);
                        Event.$emit('success',message);
                    }).catch(response=> {
                        let  message = response.response.data.error;
                        Event.$emit('error',message);
                    });
                $('#deleteModal').modal('hide');
            }
       }

    }
</script>


<style scoped>

</style>
