<template>
    <div class="col-md-12">
        <div class="alert alert-success" v-if="success">{{success}}</div>
        <div class="alert alert-danger" v-if="error">{{error }}</div>
        <div class="card mb-3 mt-5">
            <div class="card-header clearfix">
                <i class="fas fa-table"></i> Data Table Example
                <div class="float-right card-header-pills">
                    <button class="btn-info btn"  data-toggle="modal" data-target="#createModal" @click="addUser">Add user</button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6"></div>
                            <div class="col-sm-12 col-md-6">
                                <div id="dataTable_filter" class="dataTables_filter">
                                    <label>Search:
                                        <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 220px;">Name</th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 309px;">Email</th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 200px;">Country</th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 120px;">Action</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">Name</th>
                                        <th rowspan="1" colspan="1">Email</th>
                                        <th rowspan="1" colspan="1">Country</th>
                                        <th rowspan="1" colspan="1">Action</th>
                                    </tr>
                                    </tfoot>
                                    <tbody v-for="user in users" :key="user.id">
                                    <tr id="40" role="row" class="odd">
                                        <td><a href="#" data-toggle="modal" data-target="#openModal" @click="editUser(user.id)" class="getname">{{user.name}}</a>
                                        </td>
                                        <td class="getmail">{{user.email}}</td>
                                        <td class="getcountry">{{user.country.name}}</td>
                                        <td class="text-center">
                                            <a data-toggle="modal" data-target="#deleteModal" data-id="40" @click="deleteUser(user.id)" class="closs-item" href=""><i class="fas fa-times"></i></a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 10 entries</div>
                            </div>
                            <div class="col-sm-12 col-md-7"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
        <edit :user="user " :countries="countries" ></edit>
        <remove :id="deleteId" > </remove>
        <create :countries="countries" > </create>
        <!--     <edit></edit>
              <remove></remove>-->
    </div>
</template>

<script>
    import edit from './Edit'
    import create from './Create'
    import remove from './Delete'
    export default {
        components: {
            edit, remove, create
        },
        data() {
            return {
                users: [],
                edit: false,
                success: '',
                error: '',
                user: {
                    country_id:1,
                    name:'',
                    email:''
                },
                countries:{},
                deleteId: 0
            }
        },
        created() {
            axios.get('api/admin/users').then(response => {
                this.users = response.data.users
            }).catch(error => {
            })
            var self = this;
            Event.$on('userUpdated', updatedUser => {
                this.users.forEach( function(data, index) {
                    if(data.id === updatedUser.id) {
                        self.users.splice(index, 1, updatedUser);
                    }
                })
            }),
                Event.$on('created', createdUser => {
                    console.log(createdUser);
                      this.users.splice(0, 0, createdUser);
                }),
                Event.$on('delete', id => {
                    console.log(this);
                    self.users.forEach(function(data, index) {
                        if(data.id === id) {
                            self.users.splice(index, 1);
                        }
                    })
                }),
                Event.$on('success', event => {
                    this.success = event;
                    this.error = ''
                }),
                Event.$on('error', event => {
                    this.error = event;
                    this.success = '';
                    console.log(this.error)
                })

        },
        methods: {
            editUser(id) {
                var self = this;
                this.edit = true
                axios.get(`api/admin/users/${id}`,{
                }).then((data) => {
                    this.user = data.data.users;
                    this.countries = data.data.countries;
                });
            },
            addUser() {
                this.edit = false;
                axios.get(`api/countries`,{
                }).then((data) => {
                    this.countries = data.data;
                });
            },
            deleteUser(id) {
                this.deleteId = id;
            }
        }

    }
</script>

<style scoped>

</style>
